files: >
  (?x)^(
    py_template/ |
    ^tests/
  )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      - id: check-added-large-files
      - id: debug-statements
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: pretty-format-json
        args: [--autofix]
      


  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.5
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.14.1"
    hooks:
      - id: mypy
        args: [--config-file=.github/linters/.mypy.ini]

  - repo: https://github.com/python-poetry/poetry
    rev: "1.8.5"
    hooks:
      - id: poetry-check
        args: ["--directory", "backend"]
      - id: poetry-lock
        args: ["--directory", "backend"]
      - id: poetry-export
        args:
          [
            "-f",
            "requirements.txt",
            "-o",
            "requirements.txt",
            "--directory",
            ".",
            "--with",
            "dev",
          ]

  -   repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
      -   id: detect-secrets
          args: ['--baseline', '.secrets.baseline']
          exclude: package.lock.json